doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Where is JavaScript Going

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 Where is JavaScript Going?
      section(data-bespoke-state='emphatic')
        img(src="images/warning.gif")
      section
        h2 Where's all this going?
        img(src="images/roads.gif")
      section
        h2 How did we get here?
      section
        h2 JavaScript
        h3.bullet 10 Days to create
        h3.bullet Years to figure out
      section
        h2 JavaScript Archaeology
      section
        h3 The Sprinkle Era
        img(src="images/sprinkles.gif")
      section
        h3 The Ajax Era
        img(src="images/ajax.gif",class="nozoom")
      section
        h3 The Crockford Era
        h4 Also known as the good parts
        img(src="images/goodparts.gif")
      section
        h3 The jQuery Era
        img(src="images/no-idea.jpg",class="nozoom")
      section
        h3 The Application Era
        img(src="images/coruscant.png",class="nozoom")
      section
        h3 The Node Era
        img(src="images/logo-node.png",class="nozoom")
      section
        img(src="images/stone-cold-lol.gif")
      section
        h2 Prediction #1
      section
        h2 NPM is the package manager
        img(src="images/deal-with-it.gif")
      section
        h2 Prediction #2
      section
        h2 More Frameworks, Not less
        img(src="images/crowd.gif")
      section
        h2 Prediction #3
      section
        h2 No Winner
        img(src="images/glum-kirk.gif" )
      section
        h2 Prediction #4
      section
        h2 More Modularity
        img(src="images/puzzle.gif" )
      section
        h2 Prediction #5
      section
        h2 Common JS
        img(src="images/stick.gif", class="nozoom")
      section
        h2 Prediction #6
      section
        h2 ES6/7/Next
        img(src="images/bugs-heart.gif" )
      section
        h2 TypeScript/Others
        img(src="images/cannon-to-the-face.gif" )
      section
        h2 Prediction #7
      section
        h2 People will use Promises
        img(src="images/dog-foghorn.gif" )
      section
        h2 Prediction #8
      section
        h3 <strike>Isomorphic</strike>
        h3 Progressive Enhancement will matter
        img(src="images/shocked-not-shocked.gif")
      section
        h2 Prediction #9
      section
        h3 The target will not matter
        img(src="images/rabbit-duck-season.gif")
      section
        h2 Prediction #10
      section
        h2 Still not enough tests will be written
        img(src="images/sad-snoopy.gif" )
      section
        h2 Prediction #11
      section
        h2 But more rigor 
        img(src="images/shocked-kirk.gif" )
      section
        img(src="images/that-s-all.gif")
    script(src='build/build.js')